$black-color : #1F1F1C;
$first-color: linear-gradient(225deg, #295283 0%, #352983 100%);
$first-color-no-gradient: #352983;
$secondary-color : linear-gradient(227.89deg, #FF4C1F -20.42%, #FF1F62 157.32%);
$secondary-color-no-gradient : #FF1F62;
$bejeviy :  #FCE7D5;
$molochniy :  #FFF4EB;
$gradient1 :  linear-gradient(81.5deg, #EAD1A1 0%, #A1EAE6 298.5%);
$gradient2 :  linear-gradient(84.01deg, #72B1C2 16.66%, rgba(143, 0, 255, 0.39) 224.15%);
