@import '../../../styles/colors';

.bio{
    min-height: 220px;
    padding-left: 10px;
    font-size: 18px;
    font-style: italic;
    border-radius: 10px;
    cursor: text;
}
.block{
    margin-bottom: 15px;
    padding: 0px 0 0px 20px;

    &:first-child{
        border-bottom: 1px solid $black-color;
        padding: 17px 0 17px 20px;
    }
    p{
        color: $first-color-no-gradient;
    }
}
.blockBio{
    padding-top: 15px;
    border-left: 1px solid $black-color;
    padding-left: 20px;
    p{
        color: $first-color-no-gradient;
        margin-bottom: 10px;
    }
}
.infoText{
    border-radius: 10px;
    font-style: italic;
    padding: 5px 0;

    font-size: 20px;
    font-weight: bold;
    color: #333;
    opacity: 0.9;
}
.infoText:hover{
    opacity: 1;
    cursor: text;
}
