.cont{
    background-color: #fff;
    margin-top: 15px;
}
.cont h4{
    margin-left: 15px;
    margin-top: 15px;
}
.ganr{
    color: #91b4d3
}
.statistic div{
    margin-right: 15px;
}
.bookText{
    color: #656565;
}